h1 {
	color: mediumturquoise;
	text-align: center;
	font: oblique bold 120% cursive;
	font-size: 200%;
}

html
{
	cursor:  url(../assets/imagenes/gaviota2.png), auto;
}

a
{
	font: oblique bold 120% cursive;
	cursor:  url(../assets/imagenes/gaviota.png), pointer;

}

#redes
{
	display: flex;
	justify-content: space-around;
	font-family: oblique bold 120% cursive;
}