html
{
	cursor:  url(../assets/imagenes/plumacursor.png), auto;
	font: oblique bold 100% cursive;
	height: 100%;
}

#cuerpo
{
	position:  absolute;
	bottom: 0;
}

h1 
{
	color: mediumturquoise;
	text-align: center;
	font: oblique bold 120% cursive;
	font-size: 200%;
}

a
{
	cursor:  url(../assets/imagenes/plumacursor.png), pointer;
}

#redes
{
	display: flex;
	justify-content: space-around;
}

canvas
{
	position: absolute;
	top: 30;
}